# Created by .ignore support plugin (hsz.mobi)
app/static/bower_components
node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
temp/
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
# Installer logs
pip-log.txt
npm-debug.log

# Unit test / coverage reports
.coverage
.tox

#Translations
#*.mo

#Mr Developer
.mr.developer.cfg
.vagrant
Vagrantfile

# IDEs
.DS_Store
.idea
*.lint
.pydevproject
.project
.settings*

# node stuff
node_modules

*.pyc
app/index.yaml
app/lib
app/lib.zip
app/static/
main/static/min
