<div class="container-fluid">

    <div>
        <acme-navbar></acme-navbar>
    </div>

    <div class="jumbotron text-center" ng-hide="main.isAuthenticated()">
        <div class="col-sm-4 col-sm-offset-4">
            <a class="btn btn-block btn-social btn-google" ng-click="main.authenticate('google')">
                <span class="fa fa-google-plus"></span>
                Sign in with Google
            </a>
        </div>
    </div>

    <div class="jumbotron" ng-show="main.isAuthenticated()">
        <div class="col-sm-4" style="margin-bottom: 20px">
            <input date-range-picker class="form-control date-picker" type="text" ng-model="main.dateRange"
                   options="main.dataPickerOptions" placeholder="Pick a date range ... " style="text-align: center"/>
        </div>
        <highchart ng-show="main.newVisitorsChartConfig" config="main.newVisitorsChartConfig"
                   style="margin-bottom: 20px"></highchart>
        <highchart ng-show="main.bounceRateChartConfig" config="main.bounceRateChartConfig" style="margin-bottom:
        20px"></highchart>
    </div>


</div>
