<div class="container-fluid">

    <div>
        <acme-navbar></acme-navbar>
    </div>

    <div class="jumbotron text-center" ng-hide="main.isAuthenticated()">
        <h1></h1>
    </div>

    <div ng-show="main.isAuthenticated()">
        <div class="col-md-5 col-md-offset-2 ">
            <input date-range-picker class="form-control date-picker" type="text"
                   style="text-align: center"
                   ng-model="main.dateRange" options="main.dataPickerOptions"
                   placeholder="Pick a date range ... "/>
        </div>
        <!--<div class="btn-group col-md-3" role="group" aria-label="...">
            <button ng-disabled="main.unit==1" type="button" class="btn btn-default"
                    ng-click="main.changeAllChartsUnit(1)">Day
            </button>
            <button type="button" ng-click="main.changeAllChartsUnit(7)" ng-disabled="main.unit==7"
                    class="btn btn-default">Week
            </button>
            <button type="button" class="btn btn-default" ng-disabled="main.unit==30"
                    ng-click="main.changeAllChartsUnit(30)">Month
            </button>
        </div>-->
        <div class="panel col-md-10 col-md-offset-1" style="margin-top: 20px;border: 1px solid black;padding: 0px;"
             ng-hide="main.isLoading" id="chart-container">

            <div class="col-md-4" ng-show="main.weeklyActiveUsersChartConfig">
                <label>Weekly actions Numbers: </label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Weekly actions Numbers ..."
                           ng-model="main.weeklyActions">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="main.refreshWeeklyActiveUsers(main.weeklyActions)">Refresh !
                            </button>
                          </span>
                </div>
            </div>
            <highchart ng-show="main.weeklyActiveUsersChartConfig"
                       config="main.weeklyActiveUsersChartConfig"></highchart>
            <!--<highchart ng-show="main.weeklyEngagedUsersChartConfig"-->
                       <!--config="main.weeklyEngagedUsersChartConfig"></highchart>-->
            <highchart ng-show="main.weeklyActiveUsersGrowthChartConfig"
                       config="main.weeklyActiveUsersGrowthChartConfig"></highchart>
            <div class="col-md-4" ng-show="main.dailyActiveUsersChartConfig">
                <label>Daily actions Numbers: </label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Daily actions Numbers ..."
                           ng-model="main.dailyActions">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="main.refreshDailyActiveUsers(main.dailyActions)">Refresh !
                            </button>
                          </span>
                </div>
            </div>
            <highchart ng-show="main.dailyActiveUsersChartConfig" config="main.dailyActiveUsersChartConfig"></highchart>
            <highchart ng-show="main.dailyActiveUsersGrowthChartConfig"
                       config="main.dailyActiveUsersGrowthChartConfig"></highchart>
            <highchart ng-show="main.totalUsersChartConfig" config="main.totalUsersChartConfig"></highchart>
            <highchart config="main.newVisitorsChartConfig" ng-show="main.newVisitorsChartConfig"></highchart>
            <!--<highchart ng-show="main.conversionRateChartConfig" config="main.conversionRateChartConfig"></highchart>-->
            <highchart ng-show="main.bounceRateChartConfig" config="main.bounceRateChartConfig"></highchart>
            <highchart ng-show="main.userBySigninClickChartConfig"
                       config="main.userBySigninClickChartConfig"></highchart>
            <highchart ng-show="main.dailyNewUsersChartConfig" config="main.dailyNewUsersChartConfig"></highchart>
            <highchart ng-show="main.growthRateChartConfig" config="main.growthRateChartConfig"></highchart>
            <highchart ng-show="main.newUsersBySourceChartConfig" config="main.newUsersBySourceChartConfig"></highchart>
            <highchart ng-show="main.churnedUsersChartConfig" config="main.churnedUsersChartConfig"></highchart>


        </div>
    </div>
</div>
